* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
    font-size: 40px;
}

canvas {
    background-color: black;
    border-radius: 10px;
}