* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Mexican', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 9999;
    text-decoration: none;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 56px;
}

#fullscreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause {
    position: absolute;
    top: 5%;
    left: 50%;
}

.pause-screen-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 50%);
    padding: 24px;
    border-radius: 10px;
    z-index: 6;
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pause-screen-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 20px;
    font-weight: bold;
}

.pause-screen-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.pause-screen-container button {
    background-color: rgb(0 0 0);
    padding: 8px;
    color: white;
    font-weight: revert;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: cursive;
    margin-top: 10px;
}


.pause-screen-container button:hover {
    background-color: rgb(50, 50, 50);
    scale: 1.02;
}

canvas {
    background-color: black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.content {
    width: 720px;
    height: 480px;
    border-radius: 10px;
    position: relative;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 20px;
    z-index: 999;
}

.button {
    background-color: rgb(217, 133, 44);
    border: 2px solid white;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 20%;
    z-index: 9999;
}

.button:hover {
    background-color: rgb(199, 115, 24);
    scale: 1.02;
}

.information-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

svg {
    cursor: pointer;
    z-index: 9999;
}

svg:hover {
    scale: 1.1;
}

.arrow-back {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.story-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    z-index: 999;
}

.story-container p {
    font-size: 16px;
    padding: 16px;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 10px;
    text-align: center;
}

.controller {
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

h2 {
    margin-bottom: 20px;
}

.controller-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 24px;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 10px;
}

.controller-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.controller-container div img {
    width: 32px;
    height: 32px;
}

.controller-container div span {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.end-screen-container {
    width: 720px;
    height: 480px;
    position: relative;
    z-index: 999;
}

.end-screen-container img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.end-screen-button-container {
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#background {
    position: absolute;
    top: 0;
}

.rotate-screen-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#rotate-screen {
    height: 100px;
    width: 100px;
}

.mobile-keyboard-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.left-keyboard-container {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.right-keyboard-container {
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.d-none {
    display: none;
}

@media only screen and (max-width: 720px) {
    h1 {
        display: none;
    }

    #fullscreen {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    .content {
        width: 480px;
        height: 480px;
    }

    .end-screen-container {
        width: 480px;
        height: 480px;
    }

    .story-container #story {
        height: 100%;
        overflow: scroll;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        width: 320px;
        height: 320px;
    }

    .end-screen-container {
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 450px) {
    .mobile-keyboard-container {
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    .button {
        font-size: 12px;
        padding: 4px;
    }

    svg {
        height: 24px;
        width: 24px;
    }
}

@media only screen and (max-height: 600px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    #fullscreen {
        height: 100vh;
    }

    canvas {
        height: 100%;
    }
}

@media only screen and (min-height: 650px) and (max-width: 720px) {
    .rotate-screen-container {
        display: flex;
    }

    .rotate-screen-container {
        font-size: 40px;
    }

    #rotate-screen {
        height: 80px;
        width: 80px;
    }

    .content {
        display: none;
    }
}